<!DOCTYPE html>
<html>
<head>
  <title>Recipefinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="box">
  <div class="container-4">
    <form method="get">
    <input type="search" id="search" name="search" placeholder="Search..." />
    <input type="submit" value="submit" class="icon"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<%= yield %>

</body>
</html>
